<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto text-center">
      <h1 class="text-center main-heading">About US</h1>
      <p class="text-center sub-heading">Grow your business with us</p>
      <div class="row">
        {{! left side }}
        <div class="col-md-6 col-12 hero-text order-md-0 order-0">
          <figure>
            <img id="about_img"" src="/img/about.png" alt="" />
          </figure>

        </div>
        {{! right side }}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
        >
          <h1>We are experienced professional developers.✌🏻</h1>

          <p>Team of
            <span class="bold-style">Professional Developers</span>
            Greetings from Our Team. The one source you ought to consult for anything. We have been providing the best in the business for a while, putting an emphasis on client fulfilment.</p>
            <a href="/#serviceid">
          <button class="btn-style btn-primary">Read More</button>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>