<div class="container-fluid mt-5 contact-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact US</h1>
      <p class="text-center sub-heading">Grow your business with us</p>
      <div class="row">
        <form action="/contact" method="POST">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">We'll never share your email
              with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone</label>
            <input
              name="phone"
              type="phone"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label
              for="exampleInputPassword1"
              class="form-label"
            >Message</label>
            <input
              name="message"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>