<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">Grow your business with us</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="/img/settings.png" alt="" srcset="" />
               
              </div>
               <h4>Settings</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="/img/speed.png" alt="" srcset="" />
              </div>
                             <h4>Speed Up</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="/img/privacy.png" alt="" srcset="" />
              </div>
                             <h4>Privacy</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="/img/ssl.png" alt="" srcset="" />
              </div>
                             <h4>SSL</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="/img/backup.png" alt="" srcset="" />
              </div>
                             <h4>Backup</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="/img/database.png" alt="" srcset="" />
              </div>
                             <h4>Database</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>